--
-- PostgreSQL database dump
--

\restrict bmT3AhNhrNNHEGuboRBpB68lVlLHIAaBVcnJYNWsi6CEFNarckniNAhSz2Zg38E

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: learning_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO learning_user;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: learning_user
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.categories OWNER TO learning_user;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: learning_user
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO learning_user;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learning_user
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: prompts; Type: TABLE; Schema: public; Owner: learning_user
--

CREATE TABLE public.prompts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    category_id integer NOT NULL,
    subcategory_id integer NOT NULL,
    prompt text NOT NULL,
    response json,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.prompts OWNER TO learning_user;

--
-- Name: prompts_id_seq; Type: SEQUENCE; Schema: public; Owner: learning_user
--

CREATE SEQUENCE public.prompts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prompts_id_seq OWNER TO learning_user;

--
-- Name: prompts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learning_user
--

ALTER SEQUENCE public.prompts_id_seq OWNED BY public.prompts.id;


--
-- Name: subcategories; Type: TABLE; Schema: public; Owner: learning_user
--

CREATE TABLE public.subcategories (
    id integer NOT NULL,
    name character varying NOT NULL,
    category_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.subcategories OWNER TO learning_user;

--
-- Name: subcategories_id_seq; Type: SEQUENCE; Schema: public; Owner: learning_user
--

CREATE SEQUENCE public.subcategories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subcategories_id_seq OWNER TO learning_user;

--
-- Name: subcategories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learning_user
--

ALTER SEQUENCE public.subcategories_id_seq OWNED BY public.subcategories.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: learning_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying NOT NULL,
    phone character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    last_name character varying NOT NULL
);


ALTER TABLE public.users OWNER TO learning_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: learning_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO learning_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learning_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: prompts id; Type: DEFAULT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.prompts ALTER COLUMN id SET DEFAULT nextval('public.prompts_id_seq'::regclass);


--
-- Name: subcategories id; Type: DEFAULT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.subcategories ALTER COLUMN id SET DEFAULT nextval('public.subcategories_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: learning_user
--

COPY public.alembic_version (version_num) FROM stdin;
abc123def456
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: learning_user
--

COPY public.categories (id, name, created_at, updated_at) FROM stdin;
1	╫£╫ש╫₧╫ץ╫ף╫ש╫¥	2026-05-13 13:32:47.472129+00	\N
2	╫ס╫¿╫ש╫נ╫ץ╫¬	2026-05-13 13:32:56.603513+00	\N
3	╫º╫á╫ש╫ץ╫¬	2026-05-13 13:33:08.793191+00	\N
4	╫נ╫¿╫ª╫ץ╫¬	2026-05-13 13:33:13.30169+00	\N
\.


--
-- Data for Name: prompts; Type: TABLE DATA; Schema: public; Owner: learning_user
--



--
-- Data for Name: subcategories; Type: TABLE DATA; Schema: public; Owner: learning_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: learning_user
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learning_user
--

SELECT pg_catalog.setval('public.categories_id_seq', 4, true);


--
-- Name: prompts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learning_user
--

SELECT pg_catalog.setval('public.prompts_id_seq', 7, true);


--
-- Name: subcategories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learning_user
--

SELECT pg_catalog.setval('public.subcategories_id_seq', 29, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learning_user
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: prompts prompts_pkey; Type: CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_pkey PRIMARY KEY (id);


--
-- Name: subcategories subcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: learning_user
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- Name: ix_prompts_id; Type: INDEX; Schema: public; Owner: learning_user
--

CREATE INDEX ix_prompts_id ON public.prompts USING btree (id);


--
-- Name: ix_subcategories_id; Type: INDEX; Schema: public; Owner: learning_user
--

CREATE INDEX ix_subcategories_id ON public.subcategories USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: learning_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_phone; Type: INDEX; Schema: public; Owner: learning_user
--

CREATE UNIQUE INDEX ix_users_phone ON public.users USING btree (phone);


--
-- Name: prompts prompts_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: prompts prompts_subcategory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_subcategory_id_fkey FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id);


--
-- Name: prompts prompts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: subcategories subcategories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learning_user
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bmT3AhNhrNNHEGuboRBpB68lVlLHIAaBVcnJYNWsi6CEFNarckniNAhSz2Zg38E

